[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
[merge]
    conflictStyle = zdiff3
[core]
    editor = nvim
[alias]
    st = status
    ps = push
    pl = pull
    a = add
    cm = commit
    ft = fetch
    mg = merge
    df = diff
    swt = switch
    rbs = rebase
    l = log
    brc = branch
    cln = clone
    rst = reset
    rsr = restore
    ss = stash
    cm = commit
