[submodule ".local/share/rime-ls"]
	path = .local/share/rime-ls
	url = https://github.com/Kaiser-Yang/rime-wubi86.git
[submodule ".config/tmux/plugins/catppuccin"]
	path = .config/tmux/plugins/catppuccin
	url = https://github.com/catppuccin/tmux.git
[submodule ".config/zsh/plugins/catppuccin"]
	path = .config/zsh/plugins/catppuccin
	url = https://github.com/catppuccin/zsh-syntax-highlighting
[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/zsh/plugins/zsh-vi-mode"]
	path = .config/zsh/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule ".config/zsh/plugins/zsh-completions"]
	path = .config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".config/zsh/plugins/zsh-expand"]
	path = .config/zsh/plugins/zsh-expand
	url = https://github.com/MenkeTechnologies/zsh-expand
[submodule ".config/zsh/plugins/powerlevel10k"]
	path = .config/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".config/zsh/themes/powerlevel10k"]
	path = .config/zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".local/share/fcitx5/rime"]
	path = .local/share/fcitx5/rime
	url = https://github.com/Kaiser-Yang/rime-wubi86.git
[submodule ".config/tmux/plugins/tmux-yank"]
	path = .config/tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule ".config/tmux/plugins/tmux-battery"]
	path = .config/tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule ".config/tmux/plugins/tmux-cpu"]
	path = .config/tmux/plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu
